<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>products</title>
</head>
<body>
<div align="center">
    <h1>LISTA POSILKOW TWOICH POSIŁKÓW</h1>
    <a th:href="@{'products/'}">ADD  PRODUCT FROM LIST</a> </br>
    <a th:href="@{'new_meal/'}">ADD  YOUR OWN MEAL</a>
</br>
    <table border="1" cellpadding="10">
        <thead>

        <th>Name</th>
        <th>PROTEIN</th>
        <th>CARBO</th>
        <th>FAT</th>
        <th>KCAL</th>
        <th>PORTIONS</th>
        <th>CHANGE PORTIONS</th>



        </thead>
        <tbody>
        <tr th:each="meal:${listMeals}">
            <td th:text="${meal.getName()}">Name</td>
            <td th:text="${meal.getProtein()}">PROTEIN</td>
            <td th:text="${meal.getCarbo()}">CARBO</td>
            <td th:text="${meal.getFat()}">FAT</td>
            <td th:text="${meal.getKcal()}">KCAL</td>
            <td th:text="${meal.getPortions()}">PORTION</td>
            <td><form action=# th:action="@{'/meals/updatePortion/'+${meal.getId()}}">
                <fieldset>
                    <input type="text" th:field="*{newPortion}"/>
                    <input type="submit" value="ZWIEKSZ PORCJE DWUKROTNIE!"/>
                </fieldset>
            </form>

            <td>

                <a th:href="@{'/meals/delete/' + ${meal.getId()}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <p >SUMA DZIENNA KCAL:<span th:text="${sumKcal}"></span> </p>
</div>

</body>
</html>