<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>new_meal</title>
</head>
<body>
<div style="float:left"><form th:action="@{/logout}" method="post"><input type="submit" value="Sign Out" /> </form></div>

<div align="center">
    <h1>Create New Meal</h1>
    <br/>

    <form action="#" th:action="@{/save}" th:object="${meal}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Meal Name:</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Proteins:</td>
                <td><input type="text" th:field="*{protein}"/></td>
            </tr>
            <tr>
                <td>Carbo:</td>
                <td><input type="text" th:field="*{carbo}"/></td>
            </tr>
            <tr>
                <td>Fat:</td>
                <td><input type="text" th:field="*{fat}"/></td>
            </tr>
            <tr>
                <td>KCAL:</td>
                <td><input type="text" th:field="*{kcal}"/></td>
            </tr>

            <tr><td colspan="2"><button type="submit">Save</button></td></tr>
        </table>

        <a th:href="@{'/meals'}">BACK TO MEALS</a>

    </form>
</div>

</body>
</html>