<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>products</title>
</head>
<body>
<div align="center">
    <div style="float:left"><form th:action="@{/logout}" method="post"><input type="submit" value="Sign Out" /> </form></div>

    <h1>LISTA PRODUKTOW</h1>
    <br/> <br/>
    <table border="1" cellpadding="10">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>PROTEIN</th>
        <th>CARBO</th>
        <th>FAT</th>
        <th>KCAL</th>
        <th>DESCRIPTION</th>


        </thead>
        <tbody>
        <tr th:each="product:${listProducts}">
            <td th:text="${product.getId()}">ID</td>
            <td th:text="${product.getName()}">Name</td>
            <td th:text="${product.getProtein()}">PROTEIN</td>
            <td th:text="${product.getCarbo()}">CARBO</td>
            <td th:text="${product.getFat()}">FAT</td>
            <td th:text="${product.getKcal()}">KCAL</td>
            <td th:text="${product.getDescription()}">DESCRIPTION</td>

            <td><a th:href="@{'/products/save/'+${product.getId()}}">ADD</a>
               <a th:href="@{'/products/' + ${product.getId()}+'/suppliers'}">SHOW SUPPLIERS</a>
               <!-- <a th:href="@{'/suppliers/'}">SHOW SUPPLIERS</a> -->
            </td>

        </tr>
        </tbody>
    </table>

    <a th:href="@{'/meals'}">BACK TO MEALS</a>
</div>

</body>
</html>