<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>products</title>
</head>
<body>
<div align="center">
    <h1>LISTA PRODUKTOW</h1>
    <br/> <br/>
    <table border="1" cellpadding="10">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>KCAL</th>

        </thead>
        <tbody>
        <tr th:each="product:${listProducts}">
            <td th:text="${product.getProductId()}">ID</td>
            <td th:text="${product.getProductName()}">Name</td>
            <td th:text="${product.getKcal()}">KCAL</td>
            <td><a th:href="@{'/products/delete/'+${product.getProductId()}}">DODAJ TU POWINO BYC A SIE USUWA</a>
               <a th:href="@{'/products/' + ${product.getProductId()}+'/suppliers'}">SHOW SUPPLIERS</a>
               <!-- <a th:href="@{'/suppliers/'}">SHOW SUPPLIERS</a> -->
            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>